<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MazeDriver</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/cover/">
    <script src="https://unpkg.com/blockly"></script>

    <!-- Bootstrap core CSS -->
<link href="../static/content/bootstrap.min.css" rel="stylesheet">
<script src="../static/scripts/main.js"></script>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <xml id="toolbox" style="display: none">
      <category name=Control>
          <block type="controls_repeat_ext">
            <value name="TIMES"></value>
              <data></data>
          </block>
          <block type="math_number">
            <field name="NUM">Enter Here</field>
          </block>
          <block type="text_move">
           <value name="MOVE"></value>
          </block>
       </category>
      <category name="Turn">
          <block type="text_FORWARD">
          </block>
          <block type="text_BACKWARD">
           <value name="backward"></value>
          </block>
          <block type="text_RIGHT">
           <value name="right"></value>
          </block>
           <block type="text_LEFT">
           <value name="left"></value>
          </block>
      </category>
    </xml>
    <!-- Custom styles for this template -->
    <link href="../static/content/cover.css" rel="stylesheet">
  </head>
  <body class="d-flex h-100 text-center text-white bg-dark">

<div class="container">
  <header class="mb-auto">
    <div class="row">
      <h1 >The Maze Driver</h1>
      </nav>
    </div>
  </header>


    <div class="row">
      <h1>Do your Challenge!</h1>
      <div class='ml-auto' id="blocklyDiv" style="height: 700px; width: 50%;"></div>
    </div>
  <div class="row">
    <center><button type="button" class="btn btn-light col-6 " onclick="run()">Submit</button></center>
  </div>
  </div>
  <footer class="mt-auto text-white-50">
  </footer>


<script src="../static/scripts/main.js"></script>

  </body>
</html>

